*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
}

body{
background:#05010d;
color:white;
overflow-x:hidden;
}

body::before{
content:"";
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle at center,#7b2cff33 0%,transparent 60%);
z-index:-1;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 70px;
border-bottom:1px solid #7b2cff55;
}

.logo{
font-size:30px;
font-weight:900;
color:#c46cff;
text-shadow:0 0 20px #9b4dff;
}

nav ul{
display:flex;
gap:40px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
transition:.3s;
}

nav a:hover{
color:#b86cff;
}

nav button,
.main-btn{

padding:15px 35px;
background:transparent;
border:2px solid #8a2be2;
color:white;
border-radius:10px;
cursor:pointer;
box-shadow:0 0 20px #8a2be2;
transition:.3s;

}

nav button:hover,
.main-btn:hover{

background:#8a2be2;
transform:scale(1.05);

}

.hero{

height:90vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}

.hero h1{

font-size:110px;

color:#d8b3ff;

text-shadow:
0 0 10px #8a2be2,
0 0 40px #8a2be2,
0 0 70px #8a2be2;

}

.hero p{

font-size:24px;
margin:25px;

color:#ccc;

}
.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  opacity: 0.4;
}
.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  opacity: 0.4;
}
